#chat-screen {
  background-color: #abc1d1;
  height: 200vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

#chat-screen .status-bar {
  z-index: 2;
}
#chat-screen .alt-header {
  top: 10px;
  z-index: 1;
}

@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 500ms linear;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 20px;
  border-radius: 25px;
  font-size: 18px;
  margin-bottom: 30px;
}

@keyframes fadeInFromLeft {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  animation: fadeInFromLeft 500ms linear;
}

.message-row img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.message__author {
  opacity: 0.8;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 15px;
  display: block;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  font-size: 18px;
  font-weight: 500;
  margin-right: 8px;
}

.message__time {
  opacity: 0.8;
  font-size: 15px;
}

@keyframes fadeInFromRight {
  from {
    transform: translateX(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.message-row--own {
  justify-content: flex-end;
  animation: fadeInFromRight 500ms linear;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
  margin-right: 0px;
  margin-left: 8px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: all 500ms ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 20px;
  width: 100%;
  border: var(--main-border);
  border-radius: 30px;
  margin-right: 15px;
  box-sizing: border-box;
  top: 10px;
  transition: all 500ms ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -3px;
  top: 3px;
}

.reply__column:last-child > i {
  right: 55px;
  top: 20px;
}

.reply i {
  opacity: 0.5;
}
.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  margin-top: 8px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .fa-grin-alt,
.reply button,
.reply .reply__column:first-child {
  transition: opacity 300ms ease-in-out;
}

.reply:focus-within .fa-grin-alt,
.reply:focus-within button,
.reply:focus-within .reply__column:first-child {
  opacity: 0;
}

.reply:focus-within input {
  width: 98vw;
  transform: translateX(-13%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
