.recommended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 25px 0px;
  margin: 25px 0px;
}

.recommended-friends__title {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.recommended-friends span {
  margin: 110px 0;
  display: block;
  text-align: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}

.open-post__members .divider {
  width: 3px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 5px;
}

.open-post__member-status {
  color: #ffb0e0;
}

.open-post__photo img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

.open-post__photo {
  position: relative;
}
.open-post__like-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 15px;
}

.open-post__like-count span {
  margin-left: 8px;
}

@keyframes likeBeat {
  0% {
    color: white;
    transform: none;
  }

  50% {
    color: rgb(48, 48, 182);
    transform: scale(1.5);
  }

  100% {
    color: white;
    transform: none;
  }
}

.open-post__like-count:hover i {
  will-change: transform;
  animation: likeBeat 1000ms linear infinite;
}
