#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 20px 0px;
  font-size: 19px;
  margin-bottom: 5px;
  margin-top: -10px;
}

#friends-display-link i {
  margin: 0px 10px;
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 20px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
