.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 800;
  animation: spins 3000ms ease-in-out infinite;
}
