@keyframes spins {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0);
  }
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
  animation: spins 3000ms ease-in-out infinite;
}

.nav__setting-notification {
  background-color: tomato;
  width: 8px;
  height: 8px;
  display: flex;
  border-radius: 15px;
  position: absolute;
  left: 33px;
  bottom: 25px;
}

@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.nav__btn {
  transform: translateY(50px);
  opacity: 0;
  animation: appearBtnAnimation 300ms ease-in-out forwards;
}

.nav__btn:nth-child(2) {
  animation-delay: 100ms;
}

.nav__btn:nth-child(3) {
  animation-delay: 200ms;
}

.nav__btn:last-child {
  animation-delay: 300ms;
}
